{% extends "base.html" %}
{% block title %} Slurping {% endblock title%}

{% block body %}
<header>
    <nav>
        <ul>
            <li class="nav">
                <a href="/newuser">Registrarse</a>
            </li>

            <li class="nav">
                <a href="/nueva">Escribe una nueva queja</a>
            </li>
            <li class="nav">
                <a href="/login"> Login to start spilling the tea! </a>
            </li>
            <li class="nav">
                <a href="/#">Cerrar sesión</a>
            </li>

        </ul>
    </nav>
</header>
{% for j in quejas %}
<article>
    <p>{{j.body}}</p>
    <p>{{j.date}} </p>
</article>
{% endfor %}
{% endblock body %}
