{% extends "base.html" %}
{% block title %}Login{% endblock title%}

{% block body %}
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="usuario" placeholder="Nombre de usuario">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Contraseña">
    <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
    <button type="submit">Submit</button>
</form>
{% endblock body %}

