{% extends "base.html" %}
{% block title %}Registrarse{% endblock title%}
{% block body %} 

<form action="/newuser" method="POST" enctype="multipart/form-data">
    <label for="username">Nuevo usuario:</label>
    <input class="input" type="text" name="username"/>
    <label for="password">Nueva contraseña:</label>
    <input class="input" type="password" name="password"/>
    <label for="imagen">Sube tu avatar:</label>
    <input class="input" type="file" name="imagen"/>
    <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
    <button type="submit">Registrarse</button>
</form>

{% endblock body %}
