{% extends "base.html" %}
{% block title %}Nueva queja{% endblock title%}

{% block body %}
<form action="/queja" method="POST">
    <label for="queja"></label>
    <textarea placeholder="Quejate!" name="queja"></textarea>
    <button type="submit">Submit</button>
</form>

{% endblock body %}

