{% extends "base.html" %}
{% block title %} Queja {{queja_id}}{% endblock title%}
{% block body %}
<div class="queja">
    <p>{{ j.body }}</p> 
    <p>{{ dateFormat(j.date) }}</p> 
</div>

{% endblock body %}
